<a href="https://colab.research.google.com/github/maxelOA/py_erpy2set/blob/main/examples/examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install git+https://github.com/maxelOA/py_erpy2set.git

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/maxelOA/py_erpy2set.git
  Cloning https://github.com/maxelOA/py_erpy2set.git to /tmp/pip-req-build-7e8co_wv
  Running command git clone --filter=blob:none --quiet https://github.com/maxelOA/py_erpy2set.git /tmp/pip-req-build-7e8co_wv
  Resolved https://github.com/maxelOA/py_erpy2set.git to commit eaba37fdc09957692eda422d9bc6d0fe9a41947f
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy>=1.21.6 in /usr/local/lib/python3.8/dist-packages (from py-erpy2set==1.0) (1.21.6)
Requirement already satisfied: pandas>=1.3.5 in /usr/local/lib/python3.8/dist-packages (from py-erpy2set==1.0) (1.3.5)
Requirement already satisfied: requests>=2.25.1 in /usr/local/lib/python3.8/dist-packages (from py-erpy2set==1.0) (2.25.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.5->py-erpy2set==1.0) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.5->py-erpy2set==1.0) (2022.7.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.25.1->py-erpy2set==1.0) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.25.1->py-erpy2set==1.0) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.25.1->py-erpy2set==1.0) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.25.1->py-erpy2set==1.0) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.3.5->py-erpy2set==1.0) (1.15.0)
Building wheels for collected packages: py-erpy2set
  Building wheel for py-erpy2set (setup.py) ... done
  Created wheel for py-erpy2set: filename=py_erpy2set-1.0-py3-none-any.whl size=5016 sha256=3b1ebb4c0d2314c79bea9fd80e7df198804245ac62d4f9b3d94150b88c9d64e0
  Stored in directory: /tmp/pip-ephem-wheel-cache-25djzdux/wheels/6d/be/49/08e239006cae83941df4687da0810c2df61f8e3fe959b178fe
Successfully built py-erpy2set
Installing collected packages: py-erpy2set
Successfully installed py-erpy2set-1.0

In [2]:
import erpy2set.f1_query as f1
import erpy2set.unravel as un
import json 
import requests
import pandas as pd

 # **UNRAVEL PACK**

## unravel_noKey

Creamos un dataframe para la demostración de las funciones

In [3]:
url='http://ergast.com/api/f1/2022/results.json'
data=pd.DataFrame(requests.get(url).json()['MRData']['RaceTable']['Races'][0]['Results'])
data.head()

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."

In [4]:
un.unravel_noKey(data).head()

,number,position,positionText,points,Driver_driverId,Driver_permanentNumber,Driver_code,Driver_url,Driver_givenName,Driver_familyName,...,grid,laps,status,Time_millis,Time_time,FastestLap_rank,FastestLap_lap,FastestLap_Time_time,FastestLap_AverageSpeed_units,FastestLap_AverageSpeed_speed
0,16,1,1,26,leclerc,16,LEC,http://en.wikipedia.org/wiki/Charles_Leclerc,Charles,Leclerc,...,1,57,Finished,5853584,1:37:33.584,1,51,1:34.570,kph,206.018
1,55,2,2,18,sainz,55,SAI,http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.,Carlos,Sainz,...,3,57,Finished,5859182,+5.598,3,52,1:35.740,kph,203.501
2,44,3,3,15,hamilton,44,HAM,http://en.wikipedia.org/wiki/Lewis_Hamilton,Lewis,Hamilton,...,5,57,Finished,5863259,+9.675,5,53,1:36.228,kph,202.469
3,63,4,4,12,russell,63,RUS,http://en.wikipedia.org/wiki/George_Russell_%2...,George,Russell,...,9,57,Finished,5864795,+11.211,6,56,1:36.302,kph,202.313
4,20,5,5,10,kevin_magnussen,20,MAG,http://en.wikipedia.org/wiki/Kevin_Magnussen,Kevin,Magnussen,...,7,57,Finished,5868338,+14.754,8,53,1:36.623,kph,201.641

## unravel

In [5]:
url='http://ergast.com/api/f1/2022/results.json'
data=pd.DataFrame(requests.get(url).json()['MRData']['RaceTable']['Races'][0]['Results'])
data.head()

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."

In [6]:
un.unravel(data,data['number'],'number').head()

,number,position,positionText,points,Driver_driverId,Driver_permanentNumber,Driver_code,Driver_url,Driver_givenName,Driver_familyName,...,grid,laps,status,Time_millis,Time_time,FastestLap_rank,FastestLap_lap,FastestLap_Time_time,FastestLap_AverageSpeed_units,FastestLap_AverageSpeed_speed
0,16,1,1,26,leclerc,16,LEC,http://en.wikipedia.org/wiki/Charles_Leclerc,Charles,Leclerc,...,1,57,Finished,5853584,1:37:33.584,1,51,1:34.570,kph,206.018
1,55,2,2,18,sainz,55,SAI,http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.,Carlos,Sainz,...,3,57,Finished,5859182,+5.598,3,52,1:35.740,kph,203.501
2,44,3,3,15,hamilton,44,HAM,http://en.wikipedia.org/wiki/Lewis_Hamilton,Lewis,Hamilton,...,5,57,Finished,5863259,+9.675,5,53,1:36.228,kph,202.469
3,63,4,4,12,russell,63,RUS,http://en.wikipedia.org/wiki/George_Russell_%2...,George,Russell,...,9,57,Finished,5864795,+11.211,6,56,1:36.302,kph,202.313
4,20,5,5,10,kevin_magnussen,20,MAG,http://en.wikipedia.org/wiki/Kevin_Magnussen,Kevin,Magnussen,...,7,57,Finished,5868338,+14.754,8,53,1:36.623,kph,201.641

### **NOTE**

unravel and unravel_noKey makes changes in the own dataframe , that's the reason why we constanly define results table

## it_contains

In [7]:
list1=['a','b']
list2=['c','d']
list3=['b','d']
list4=['a','b','c','d']

In [8]:
un.it_contains(list1,list2)

False

In [9]:
print(un.it_contains(list1,list3))
print(un.it_contains(list2,list3))

True
True

In [10]:
un.it_contains(list4,list3)

True

## contains_dict

In [11]:
url='http://ergast.com/api/f1/2022/results.json'
data=pd.DataFrame(requests.get(url).json()['MRData']['RaceTable']['Races'][0]['Results'])
data.tail(10)

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
10,47,11,11,0,"{'driverId': 'mick_schumacher', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,Finished,"{'millis': '5886158', 'time': '+32.574'}","{'rank': '11', 'lap': '37', 'Time': {'time': '..."
11,18,12,12,0,"{'driverId': 'stroll', 'permanentNumber': '18'...","{'constructorId': 'aston_martin', 'url': 'http...",19,57,Finished,"{'millis': '5899457', 'time': '+45.873'}","{'rank': '15', 'lap': '49', 'Time': {'time': '..."
12,23,13,13,0,"{'driverId': 'albon', 'permanentNumber': '23',...","{'constructorId': 'williams', 'url': 'http://e...",14,57,Finished,"{'millis': '5907516', 'time': '+53.932'}","{'rank': '18', 'lap': '50', 'Time': {'time': '..."
13,3,14,14,0,"{'driverId': 'ricciardo', 'permanentNumber': '...","{'constructorId': 'mclaren', 'url': 'http://en...",18,57,Finished,"{'millis': '5908559', 'time': '+54.975'}","{'rank': '16', 'lap': '50', 'Time': {'time': '..."
14,4,15,15,0,"{'driverId': 'norris', 'permanentNumber': '4',...","{'constructorId': 'mclaren', 'url': 'http://en...",13,57,Finished,"{'millis': '5909919', 'time': '+56.335'}","{'rank': '12', 'lap': '51', 'Time': {'time': '..."
15,6,16,16,0,"{'driverId': 'latifi', 'permanentNumber': '6',...","{'constructorId': 'williams', 'url': 'http://e...",20,57,Finished,"{'millis': '5915379', 'time': '+1:01.795'}","{'rank': '20', 'lap': '51', 'Time': {'time': '..."
16,27,17,17,0,"{'driverId': 'hulkenberg', 'permanentNumber': ...","{'constructorId': 'aston_martin', 'url': 'http...",17,57,Finished,"{'millis': '5917413', 'time': '+1:03.829'}","{'rank': '19', 'lap': '49', 'Time': {'time': '..."
17,11,18,18,0,"{'driverId': 'perez', 'permanentNumber': '11',...","{'constructorId': 'red_bull', 'url': 'http://e...",4,56,Fuel pressure,NaN,"{'rank': '4', 'lap': '52', 'Time': {'time': '1..."
18,1,19,19,0,"{'driverId': 'max_verstappen', 'permanentNumbe...","{'constructorId': 'red_bull', 'url': 'http://e...",2,54,Fuel pressure,NaN,"{'rank': '2', 'lap': '51', 'Time': {'time': '1..."
19,10,20,R,0,"{'driverId': 'gasly', 'permanentNumber': '10',...","{'constructorId': 'alphatauri', 'url': 'http:/...",10,44,Power Unit,NaN,"{'rank': '17', 'lap': '34', 'Time': {'time': '..."

In [12]:
un.contains_dict(data['number'])

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [13]:
un.contains_dict(data['Time'])

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False]

# **f1_query pack**

In [14]:
f1.raw_table('qualifyingResults',2022)

,number,position,Driver_driverId,Driver_permanentNumber,Driver_code,Driver_url,Driver_givenName,Driver_familyName,Driver_dateOfBirth,Driver_nationality,Constructor_constructorId,Constructor_url,Constructor_name,Constructor_nationality,Q1,Q2,Q3,racesId,year
0,16,1,leclerc,16,LEC,http://en.wikipedia.org/wiki/Charles_Leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian,1:31.471,1:30.932,1:30.558,1,2022
1,1,2,max_verstappen,33,VER,http://en.wikipedia.org/wiki/Max_Verstappen,Max,Verstappen,1997-09-30,Dutch,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian,1:31.785,1:30.757,1:30.681,1,2022
2,55,3,sainz,55,SAI,http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.,Carlos,Sainz,1994-09-01,Spanish,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian,1:31.567,1:30.787,1:30.687,1,2022
3,11,4,perez,11,PER,http://en.wikipedia.org/wiki/Sergio_P%C3%A9rez,Sergio,Pérez,1990-01-26,Mexican,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian,1:32.311,1:31.008,1:30.921,1,2022
4,44,5,hamilton,44,HAM,http://en.wikipedia.org/wiki/Lewis_Hamilton,Lewis,Hamilton,1985-01-07,British,mercedes,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Mercedes,German,1:32.285,1:31.048,1:31.238,1,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,20,16,kevin_magnussen,20,MAG,http://en.wikipedia.org/wiki/Kevin_Magnussen,Kevin,Magnussen,1992-10-05,Danish,haas,http://en.wikipedia.org/wiki/Haas_F1_Team,Haas F1 Team,American,1:25.834,NaN,NaN,22,2022
16,10,17,gasly,10,GAS,http://en.wikipedia.org/wiki/Pierre_Gasly,Pierre,Gasly,1996-02-07,French,alphatauri,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,AlphaTauri,Italian,1:25.859,NaN,NaN,22,2022
17,77,18,bottas,77,BOT,http://en.wikipedia.org/wiki/Valtteri_Bottas,Valtteri,Bottas,1989-08-28,Finnish,alfa,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Alfa Romeo,Swiss,1:25.892,NaN,NaN,22,2022
18,23,19,albon,23,ALB,http://en.wikipedia.org/wiki/Alexander_Albon,Alexander,Albon,1996-03-23,Thai,williams,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,Williams,British,1:26.028,NaN,NaN,22,2022
19,6,20,latifi,6,LAT,http://en.wikipedia.org/wiki/Nicholas_Latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,Williams,British,1:26.054,NaN,NaN,22,2022

In [15]:
f1.clean_table('qualifyingResults',2022)

,raceId,driverId,constructorId,number,position,Q1,Q2,Q3
0,1,leclerc,ferrari,16,1,1:31.471,1:30.932,1:30.558
1,1,max_verstappen,red_bull,1,2,1:31.785,1:30.757,1:30.681
2,1,sainz,ferrari,55,3,1:31.567,1:30.787,1:30.687
3,1,perez,red_bull,11,4,1:32.311,1:31.008,1:30.921
4,1,hamilton,mercedes,44,5,1:32.285,1:31.048,1:31.238
...,...,...,...,...,...,...,...,...
15,22,kevin_magnussen,haas,20,16,1:25.834,NaN,NaN
16,22,gasly,alphatauri,10,17,1:25.859,NaN,NaN
17,22,bottas,alfa,77,18,1:25.892,NaN,NaN
18,22,albon,williams,23,19,1:26.028,NaN,NaN
19,22,latifi,williams,6,20,1:26.054,NaN,NaN

In [16]:
f1.query_range('qualifyingResults',2021,2022)

,raceId,driverId,constructorId,number,position,Q1,Q2,Q3
0,1,max_verstappen,red_bull,33,1,1:30.499,1:30.318,1:28.997
1,1,hamilton,mercedes,44,2,1:30.617,1:30.085,1:29.385
2,1,bottas,mercedes,77,3,1:31.200,1:30.186,1:29.586
3,1,leclerc,ferrari,16,4,1:30.691,1:30.010,1:29.678
4,1,gasly,alphatauri,10,5,1:30.848,1:30.513,1:29.809
...,...,...,...,...,...,...,...,...
15,22,kevin_magnussen,haas,20,16,1:25.834,NaN,NaN
16,22,gasly,alphatauri,10,17,1:25.859,NaN,NaN
17,22,bottas,alfa,77,18,1:25.892,NaN,NaN
18,22,albon,williams,23,19,1:26.028,NaN,NaN
19,22,latifi,williams,6,20,1:26.054,NaN,NaN

## num_races

In [17]:
f1.num_races(2010)

19

In [18]:
f1.num_races(2022)

22

## max_laps

In [19]:
f1.max_laps(2022,22)

58

## firstCap

In [20]:
'constructorResults'.capitalize()

'Constructorresults'

In [21]:
f1.firstCap('constructorResults')

'ConstructorResults'

## full_chema

laps table takes more time of retreivieng than the others table, please be patience

In [23]:
schema=f1.full_schema(2021,2022)

table seasons is ready
table drivers is ready
table constructors is ready
table circuits is ready
table status is ready
table races is ready
table results is ready
table qualifyingResults is ready
table constructorResults is ready
table constructorStandings is ready
table driverStandings is ready
table pitstops is ready
table laps is ready
full success at retrieving the schema

In [24]:
schema.keys()

dict_keys(['seasons', 'drivers', 'constructors', 'circuits', 'status', 'races', 'results', 'qualifyingResults', 'constructorResults', 'constructorStandings', 'driverStandings', 'pitstops', 'laps'])

In [26]:
schema['constructorStandings'].head()

   raceId constructorId points position positionText wins
0       1      mercedes     41        1            1    1
1       1      red_bull     28        2            2    0
2       1       mclaren     18        3            3    0
3       1       ferrari     12        4            4    0
4       1    alphatauri      2        5            5    0

In [29]:
schema['seasons']

  season                                                url
0   2021  http://en.wikipedia.org/wiki/2021_Formula_One_...
0   2022  http://en.wikipedia.org/wiki/2022_Formula_One_...